
# Created by https://www.toptal.com/developers/gitignore/api/keil,atmelstudio
# Edit at https://www.toptal.com/developers/gitignore?templates=keil,atmelstudio

### AtmelStudio ###
## Ignore Atmel Studio temporary files and build results
# https://www.microchip.com/mplab/avr-support/atmel-studio-7

# Atmel Studio is powered by an older version of Visual Studio,
# so most of the project and solution files are the same as VS files,
# only prefixed by an `at`.

#Build Directories
[Dd]ebug/
[Rr]elease/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*.atsuo

### Keil ###
# something maybe need to add
# *.bat  # generate batch file
# output/project_name # uv project generate without file ext
# *.SRC # generate source file
# *.src

# Prerequisites
*.dep
# Object files
*.obj
*.OBJ

# Listing Files
*.COD
*.cod
*.[Ii]
*.LST
*.lst
*.MAP
*.[Mm]51
*.[Mm]66
*.SCR
*.scr

# LINK output
*.ABS

# Libraries
*.lib
*.LIB


# uv output
*.lnp
*.build_log.htm
*.HEX


# Build Files
*._IA
*.__[Ii]
*._[Ii][Ii]

# project
*.uvgui.*
*.uvguix.*


# End of https://www.toptal.com/developers/gitignore/api/keil,atmelstudio
